<!doctype html>
<html>
  {% include head.html %}
  <body>
    <div class="container">
      {% include header.html %}
      <div class="content-wrapper">
        {{ content }}
      </div>
      {% include footer.html %}
    </div>


     <!-- Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiKK/9/7/8o4Ck4Ck4Ck4Ck4Ck4Ck4Ck4Ck4C" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-5/6v4Rsq1qjB9h5gC4Yf6b5l6G+5R4l5x4Ck4Ck4Ck4Ck4Ck4Ck4Ck4Ck4Ck4Ck4C" crossorigin="anonymous"></script>
  </body>
</html>
